{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "no-loops"
  ],
  "extends": [
    "airbnb-typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/extensions": [
      "error",
      "never",
      {
        "svg": "always",
        "png": "always",
        "css": "always"
      }
    ],
    "no-loops/no-loops": 2
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  }
}